{% extends "SiteFrontendBundle::layout.html.twig" %}
{% block content %}
    <div class="content col-lg-10">
        <div class="recipes">
            
           {% for recipe in recipes %}
            <div class="dish_wrap">
                <div class="top"></div>
                <div class="clearfix"></div>
                <div class="middle">
                    <div>
                        <div>
                            <div>
                                <div class="dish_card">
                                    <div class="dish_category_icon"><img src="{{ asset('bundles/framework/img/cake.png') }}" alt=""/></div>
                                    <div class="dish_title"><h1>{{recipe.title}}</h1></div>
                                    <div class="row descr">
                                        <div class="col-lg-10">
                                            <div class="dish_short_descr">
                                                <p>{{recipe.content|raw}}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="dish_icon">
                                                <img alt="" src="{{ asset('bundles/framework/img/borsh1.jpg') }}">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="bottom"></div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}                              
        </div>
    </div>
</div>
</div>
{% endblock %}

