<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Make It Tasty!{% endblock %}</title>
    
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" type="text/css" href="/css/libs/animate.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<!--Fonts-->
	<link rel="stylesheet" type="text/css" href="/css/fonts/majestic.css"/>
	<link rel="stylesheet" type="text/css" href="/css/fonts/parnas-deco.css"/>
	<link rel="stylesheet" type="text/css" href="/css/fonts/olga.css"/>

	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/dist/wow.min.js"></script>
    <script>
    new WOW().init();
    </script>
</head>

<body>
  
   <div class="container header">
        {% block container %}
	<div class="row">
		<div class="logo col-lg-4">
			Logo
		</div>
		<div class="other col-lg-8">
			Some Other Content
		</div>
	</div>
        {% block menu %}
	<div class="row">
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">

					</button>
				</div>
				<div class="collapse navbar-collapse navbar" id="main-menu">
					<ul class="nav navbar-nav">
						<li><a href="#">Главная</a></li>
						<li class="tasty"><a href="#">Закуски</a></li>
						<li class="salat"><a href="#">Салаты</a></li>
						<li class="first_dish"><a href="#">Первые блюда</a></li>
						<li class="second_dish"><a href="#">Вторые блюда</a></li>
						<li class="desert"><a href="#">Десерты</a></li>
						<li class="drink"><a href="#">Напитки</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
  {% endblock %}       
</div>

<div class="container content">
    {% block container_content %}

	<div class="row">
                {% block filter %}
		<div class="col-lg-2">
			<div class="filter-wrap">
				<div class="filter">
					<ul>
						<li><label><input type="checkbox">Быстрого приготовления</label></li>
						<li><label><input type="checkbox">какаято категория</label></li>
						<li><label><input type="checkbox">какаято категория</label></li>
						<li><label><input type="checkbox">какаято категория</label></li>
						<li><label><input type="checkbox">какаято категория</label></li>
						<li><label><input type="checkbox">какаято категория</label></li>
					</ul>
				</div>
			</div>
                    {% endblock %}
		</div>
    {% endblock %}
{% block content %}

{% endblock %}
{% endblock %}


<div class="container footer">
{% block footer %}
    FOOTER
{% endblock %}
</div>
</body>
</html>
